* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
  --btnHover: #bb0c0c;
}

:root {
  --colorRed: #dc2626;
  --colorBlue: #090199;
  --priceTitle: 24px;
  --border: rgb(234, 234, 234);
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

p {
  font-size: 19px;
}

.navbar {
  padding: 20px 0px !important;
  position: sticky;
  width: 100%;
  top: 0;
  background: white;
  margin: 0px;
  height: max-content;
  /* bottom: 64px; */
  z-index: 200;
}

.btn {
  border-radius: 10px;
  padding: 10px 50px !important;
}

.btn-lg {
  padding: 10px 80px !important;
}

.btn:hover {
  /* opacity: 70% !important; */
  color: white !important;
}

.navbar-nav {
  margin: 0px auto !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  width: 2.3rem;
  height: 2.3rem;
}

.nav-item {
  padding: 0px 10px !important;
}

.btn-red {
  background-color: var(--colorRed);
  color: white;
}

.btn-red:hover {
  background-color: var(--btnHover);
}

.section-padding {
  padding: 4rem 0px;
}

.blue-section {
  background-color: rgb(219 234 254);
}

.heading-one {
  font-size: 3rem;
  font-weight: bolder;
}

.section-paragraph {
  width: 70%;
}

.navbar-toggler {
  border: 0px !important;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

.card {
  text-align: left !important;
  padding: 20px;
}

.operations {
  padding: 20px 10px;
}

/* .operations:hover{
    
    background-color: white !important;
    border-radius: 10px !important;
    transform: translateY(-10px) !important;
    transition: 0.3s ease-in-out !important;
    cursor: pointer;

} */

.divider {
  width: 100px;
  padding: 2px;
  display: block;
  margin: 10px auto;
  background-color: var(--colorRed);
}

.info-circle {
  padding: 5px 5px 13px 5px;
  background-color: rgb(209 213 219);
  border-radius: 100px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 20px 0px;
  background-color: rgba(172, 172, 172, 0.683);
}

.faq {
  background-color: rgba(255, 255, 255, 0.497);
  border-radius: 10px;
  padding: 20px;
}

/* Pricing */

.pricing {
  padding: 40px 25px;
  border: 1.4px solid var(--border);
  border-radius: 10px;
}

.active-price {
  border: 1.4px solid var(--colorRed);
}

.premium-badge {
  text-align: center;
  position: relative;
  margin: -53px 0px 20px 0px;
  background-color: var(--colorRed);
  color: white;
  /* width: 300px; */
  padding: 2px;
  border-radius: 10px;
}

.price-title {
  font-size: var(--priceTitle);
}

.price-list li {
  padding: 8px 0px;
}

.amount {
  font-size: 2rem;
}

.flex-start {
  align-self: flex-start;
}

.gap-1 {
  gap: 0.25rem;
}
.month {
  font-size: 16px !important;
}

.price {
  font-size: 3rem !important;
  font-weight: bolder;
}

.footer-list {
  margin: 0px !important;
  padding: 0px;
}

footer p {
  font-size: 16px;
}

.footer-list li {
  padding: 10px 0px;
  font-size: 16px;
}

/* Media Query */

@media (max-width: 1000px) {
  .section-paragraph {
    width: 100% !important;
  }

  .section-padding {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pricing {
    margin: 10px;
  }

  .card {
    width: 100% !important;
    margin: 15px 0px !important;
  }

  .heading-one {
    font-size: 2rem;
    font-weight: bolder;
  }
}

@media (max-width: 700px) {
  .footer-col {
    display: flex !important;
  }

  .footer-col .footer-item:nth-child(1) {
    flex-grow: 2;
  }

  .footer-col .footer-item:nth-child(2) {
    margin-top: 20px;
   width: 50%;
  }
  .footer-col .footer-item:nth-child(3) {
    margin-top: 20px;
   width: 50%;
  }
  .footer-col .footer-item:nth-child(4) {
    margin-top: 20px;
    width: 50%;
   }
   .footer-col .footer-item:nth-child(5) {
    margin-top: 20px;
    width: 50%;
   }
}
